[user]
	name = Shaon Samanta
	email = 57990129+Ryuzen0x1@users.noreply.github.com
	signingkey = /home/ryuki/.config/.ssh/ryuzenx1.pub
[core]
	pager = bat
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/ryuki/.config/git/allowed_signers
